MONGODB_URI=
ACCESS_TOKEN_SECRET=
CAMERA_API_KEY=
CLIENT_URL=http://localhost:5173
SERVER_URL=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
